<div class="container-fluid">
<h1 class="pt-7">New Place</h1>

<%= form_with model: @place do |form| %>
  <div class="mb-3">
    <%= form.label "name", class: "form-label" %>
    <%= form.text_field "name", class: "form-control" %>
  </div>
  
    <%= form.submit "Create", class: "btn btn-info" %>

<% end %>
 </div>